.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-me {
    flex: 1;
    background-color: white;
    padding: 2% 5%;
    object-fit: cover;
    h1 {
        margin: 4% 0;
    }
}

.footer .profile {
    flex: 1;
    width: 100%;
    position: relative;
}

.footer p {
    font-size: clamp(12px, 1vw, 24px);
}

.footer a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: inherit;
}

.footer img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footer {
        display: flex;
        justify-content: center;
        min-height: 500px;
    }

    .footer p {
        font-size: clamp(12px, 1.5vw, 32px);
    }

    .footer .contact-me {
        flex: 1;
        position: relative;
        z-index: 2;
        margin-right: -20%;
        padding: 3%;
    }

    .footer h1 {
        font-size: clamp(24px, 4vw, 56px);
    }

    .footer .profile {
        flex: 1;
        position: relative;
        z-index: 1;
        img {
            margin-top: 50%;
        }
    }

    /*.footer .profile img {
        position: absolute;
        object-fit: cover;
        top: 50%;
        left: -30%;
    }*/
}

@media (max-width: 767px) {
    .footer {
        flex-direction: column;
        gap: 20px;
        margin-top: 10%;
    }

    .contact-me p {
        font-size: clamp(12px, 3vw, 28px);
    }
}